<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <title>Admin panel</title>
<body>
<div class="card">
    <div class="card-header h4">All users</div>
    <div class="card-body">
        <table class="table table-striped" id="myTable">
            <thead>
            <tr>
                <th>id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="tbodyid">

            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="row justify-content-center card-body">
                        <form id="form-edit" th:action="@{/admin/update}" th:object="${userModel}" class="form"
                              method="post">
                            <div class="form-group">
                                <input type="hidden" class="form-control" th:value="${userModel.id}" th:field="*{id}"
                                       id="eId" name="id"/>
                                <h6 align="center">First name</h6>
                                <input type="text" class="form-control" th:value="${userModel.firstName}"
                                       th:field="*{firstName}" id="eFirstName" name="firstName"/>
                                <h6 align="center">Last name</h6>
                                <input type="text" class="form-control" id="eLastName" th:value="${userModel.lastName}"
                                       th:field="*{lastName}" name="eLastName"/>
                                <h6 align="center">Email</h6>
                                <input type="text" class="form-control" th:value="${userModel.email}"
                                       th:field="*{email}" id="eEmail" name="email"/>
                                <h6 align="center">Password</h6>
                                <input type="password" class="form-control" th:value="${userModel.password}"
                                       th:field="*{password}" id="ePassword" name="password"/>
                                <h6 align="center">Role</h6>
                                <div>
                                    <select class="custom-select" size="2" id="eRole" multiple name="role">
                                        <option th:each="role:${allRoles}" th:id="role_id" th:value="${role.getId()}"
                                                th:text="${role.getName()}"/>
                                    </select>
                                </div>
                            </div>
                            <div class="top-cover center-block mx-auto" align="center">
                                <input type="submit" hidden>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" id="edit-save" value="Edit" data-dismiss="modal" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function editModal(button) {
        document.getElementById('eFirstName').disabled = null;
        document.getElementById('eLastName').disabled = null;
        document.getElementById('eEmail').disabled = null;
        document.getElementById('ePassword').disabled = null;
        document.getElementById('eRole').disabled = null;
        document.getElementById('edit-save').value = "Edit";
        document.getElementById('form-edit').action = 'http://localhost:8080/admin/update';
        document.getElementById('edit-save').classList.add("btn-info");
        document.getElementById('edit-save').classList.remove("btn-danger");
        $.ajax({
                url: 'http://localhost:8080/admin/findOne',
                type: 'POST',
                data: {"id": button.value},
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    $('#eId').val(data.id);
                    $('#eFirstName').val(data.firstName);
                    $('#eLastName').val(data.lastName);
                    $('#eEmail').val(data.email);
                    $('#ePassword').val(data.password);
                    var select = data.roles.map(function(item) {
                        return item['name'];
                    });
                    var value;
                    if (/USER/.test(select)) {
                        value = 1;
                        document.getElementById('eRole').options[value].selected = true;
                    }
                    if (/ADMIN/.test(select)) {
                        value = 0;
                        document.getElementById('eRole').options[value].selected = true;
                    }
                }
            }
        );
    }
    $(function () {
        $("#edit-save").on("click", function () {
            var data = $("#form-edit").serialize();
            console.log(document.getElementById('form-edit').action);
            $.ajax({
                method:"POST",
                data: data,
                url: document.getElementById('form-edit').action,
                success:function () {
                    updateTable();
                }
            });

        });
    });

    function theFunction(button) {
        editModal(button)
        document.getElementById('eFirstName').disabled = 'true';
        document.getElementById('eLastName').disabled = 'true';
        document.getElementById('eEmail').disabled = 'true';
        document.getElementById('ePassword').disabled = 'true';
        document.getElementById('eRole').disabled = 'true';
        document.getElementById('edit-save').value = 'Delete';
        document.getElementById('form-edit').action = 'http://localhost:8080/admin/delete';
        document.getElementById('edit-save').classList.add("btn-danger");
        document.getElementById('edit-save').classList.remove("btn-info");
    };
    $(document).ready(function () {
        updateTable()
    });

    function updateTable() {
        $("#tbodyid").empty();
        $.ajax({
            url: 'http://localhost:8080/admin/getAll',
            type: 'POST',
            data: null,
            dataType: 'json',
            success: function (data) {
                $.each(data, function (index, doc) {
                    var select = doc.roles.map(function(item) {
                        return item['name'];
                    });
                    $('#myTable > tbody:last-child')
                        .append('<tr>\n' +
                            '                <td id="uId">' + doc.id + '</td>\n' +
                            '                <td id="uFirstName">' + doc.firstName + '</td>\n' +
                            '                <td id="uLastName">' + doc.lastName + '</td>\n' +
                            '                <td id="uEmail">' + doc.email + '</td>\n' +
                            '                <td id="uRole">' + select + '</td>\n' +
                            '                <td><button type="button" onclick="editModal(this)" id="editButton" data-toggle="modal" value="' + doc.id + '" data-target="#staticBackdrop"\n' +
                            '                            class="btn btn-info editBtn">Edit</button></td>' +
                            '                <td>' +
                            '                    <button id="delete_button" onclick="theFunction(this)" data-toggle="modal" value="' + doc.id + '" data-target="#staticBackdrop" class="btn btn-danger">Delete</button>' +
                            '                </td>' +
                            '            </tr>');

                })
            }
        })
    }
</script>
<!--<script src="webjars/jquery/3.5.1/jquery.min.js"></script>-->
</body>
</html>